@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', 'Segoe UI', system-ui, -apple-system, sans-serif;
  background-color: var(--background-color);
}

:root {
  --primary-color: #d6ab64;
  --secondary-color: #ac7843;
  --background-color: #FFF7EF;
  --text-color: #8f6336;
  --modal-background-color: #E1D9D0;
}
